{% extends "base.html.twig" %}
{# Posts page #}
{% block title %}Postitused{% endblock %}

{% block body %}

<p>{{ flash_message }}</p>
    <div class="container">
    <div class="col-md-6"></div>
        <h1><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Postitused</h1>

        {% if current_user.add_post %}

        <button class="btn btn-default" onclick="location.href='/posts/add'">Lisa uus postitus</button>

        {% endif %}
    </div>
    <br>
    <div class="col-md-6"></div>
{% for post in posts %}

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/posts/single/{{ post.id }}"><h3 class="panel-title">{{ post.title }}</h3></a>
            </div>
            <div class="panel-body">
                <p>{{ post.create_date | date("d.m.Y") }}</p>
                <p>{{ post.content }}</p>
                {#<button type="button" class="btn btn-default" onclick="location.href='/posts/single/{{ post.id }}'">Kuva</button>#}
            </div>
        </div>
    </div>


{% endfor %}

{% endblock %}