{% extends "base.html.twig" %}

{% block title %}Tooted{% endblock %}

{% block body %}
    <h1>Tooted</h1>
    {#<ul>#}
        {#{% for product in products %}#}
            {#<h3>{{ product.product_name }}</h3>#}
            {#<p>Hind: {{ product.product_price }}</p>#}
            {#<p>Omanik: {{ product_owner_id }}</p>#}
        {#{% endfor %}#}
    {#</ul>#}

    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Toode</th>
            <th>Hind</th>
            <th>Omanik</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.product_name }}</td>
                <td>{{ product.product_price }}</td>
                <td>{{ product.product_owner_id }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}